@font-face {
  font-family: "Caviar Dreams Regular";
  src: url("../fonts/caviardreams_regular_macroman/CaviarDreams-webfont.woff") format("woff");
}

@font-face {
  font-family: "Modern Sans";
  src: url("../fonts/ModernSans-Light.otf") format("OpenType");
}

body {
	font-family:"Modern Sans", "Caviar Dreams Regular", roboto, arial, sans-serif, helvetica;
	margin: 0px;
}

#Header {
	background-color: #cccccc;
	padding: 20px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

#Footer {
	text-align: right;
	background-color: black;
	color: white;
	padding: 15px;
}

#Site_Title{
	transition: color 0.4s;
	color: black;
	text-decoration: none;
	display: inline-block; 
}

#Site_Title:hover, #Header_Nav li a:hover, #Footer_Nav li a:hover{
	color: grey;
}

#Header_Nav {
    list-style-type: none;	
    display: inline-block;
	position: absolute;
	left: 1500px;
	top: 32px;
	font-weight: 600;
}

#Header_Nav li {
	float: left;
	padding: 7px 10px;
}

#Header_Nav li a {
	transition: color 0.4s;
	text-decoration: none;
	color: black;
}

#Footer_Nav {
    list-style-type: none;	
    display: inline-block;
	position: absolute;
	left: -18px;
	top: 951.2px;
	font-weight: 600;
}

#Footer_Nav li {
	float: left;
	padding: 7px 10px;
}

#Footer_Nav li a {
	transition: color 0.4s;
	text-decoration: none;
	color: white;
}

.active {
	color: grey !important;
}

#Section1 {
	background-image: url("../images/BackgroundPlaceholder.jpg");
	color: white;
	background-size: cover;
	min-height: 800px;
	text-align: center;
    vertical-align: middle;
	line-height: 800px;
}

@media screen and (max-width: 1120px) and (min-width: 0px) {
  #Header_Nav {
	  left: 130px !important;
  }
  
  #Footer_Nav {
	  left: -35px !important;
  }
  
  #DELETE {
	  display: none;
  }
}

@media screen and (max-width: 1900px) and (min-width: 1120px) {
  #Header_Nav {
	  left: 930px !important;
  }
}